<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="description" content="FoodHub">
    <meta name="author" content="FoodHub">
    <meta name="keywords" content="FoodHub">
    <link rel="icon" href="logo.png" type="image/x-icon">
    <title>FoodHub Signup</title>
    <script>
        const userToken = localStorage.getItem('userToken');
        if (userToken) {
            window.location.href = './home';
        }
        //get token from parameter
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token');
        if (token) {
            localStorage.setItem('userToken', token);
            window.location.href = './home';
        }
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            margin: 0;
            height: 100vh;
        }
    </style>
</head>
<body class="relative h-full">
<!-- component -->
<div class="bg-white relative flex flex-col justify-center items-center py-10 px-5">
    <div class="flex items-center justify-center max-w-7xl w-full">
        <div class="flex flex-col items-center w-full lg:w-5/12">
            <div class="w-full relative z-10 max-w-2xl">
                <div class="flex flex-col items-start justify-start pt-10 pr-10 pb-10 pl-10 bg-white shadow-2xl rounded-xl relative z-10 w-full">
                    <img src="logo.png" alt="Logo" class="mx-auto" style="max-width: 200px;">
                    <form class="w-full relative space-y-3" method="POST" th:object="${user}"
                          th:action="@{/api/users/signup}">

                        <div class="relative">
                            <p class="bg-white pt-0 pr-2 pb-0 pl-2 -mt-3 mr-0 mb-0 ml-2 font-medium text-gray-600 absolute">
                                Name</p>
                            <label>
                                <input required placeholder="Full Name" type="text"
                                       th:value="${user.name==null? '':user.name}" th:field="*{name}"
                                       class="border placeholder-gray-400 focus:outline-none focus:border-black w-full pt-4 pr-4 pb-4 pl-4 mt-2 mr-0 mb-0 ml-0 text-base block bg-white border-gray-300 rounded-md"/>
                            </label>
                            <span id="username-error" class="hidden text-red-500">This username is already taken.</span>
                        </div>
                        <div class="relative">
                            <p class="bg-white pt-0 pr-2 pb-0 pl-2 -mt-3 mr-0 mb-0 ml-2 font-medium text-gray-600 absolute">
                                Email</p>
                            <label>
                                <input required placeholder="123@ex.com" type="text"
                                       th:value="${user.email==null? '':user.email}" th:field="*{email}"
                                       class="border placeholder-gray-400 focus:outline-none focus:border-black w-full pt-4 pr-4 pb-4 pl-4 mt-2 mr-0 mb-0 ml-0 text-base block bg-white border-gray-300 rounded-md"/>
                            </label>
                            <span id="email-error"
                                  class="hidden text-red-500">Please enter a valid email address.</span>
                        </div>
                        <div class="relative">
                            <p class="bg-white pt-0 pr-2 pb-0 pl-2 -mt-3 mr-0 mb-0 ml-2 font-medium text-gray-600 absolute">
                                Phone Number</p>
                            <label>
                                <input required placeholder="123-456-7890" type="text" th:field="*{phoneNumber}"
                                       th:value="${user.phoneNumber==null? '':user.phoneNumber}"
                                       class="border placeholder-gray-400 focus:outline-none focus:border-black w-full pt-4 pr-4 pb-4 pl-4 mt-2 mr-0 mb-0 ml-0 text-base block bg-white border-gray-300 rounded-md"/>
                            </label>
                            <span id="phone-error" class="hidden text-red-500">Please enter a valid phone number.</span>
                        </div>
                        <div class="relative">
                            <p class="bg-white pt-0 pr-2 pb-0 pl-2 -mt-3 mr-0 mb-0 ml-2 font-medium text-gray-600 absolute">
                                Password</p>
                            <label>
                                <input required placeholder="Password" type="password"
                                       th:value="${user.password==null? '':user.password}" th:field="*{password}"
                                       class="border placeholder-gray-400 focus:outline-none focus:border-black w-full pt-4 pr-4 pb-4 pl-4 mt-2 mr-0 mb-0 ml-0 text-base block bg-white border-gray-300 rounded-md"/>
                            </label>
                            <span id="password-error" class="hidden text-red-500">Password must be at least 8 characters long.</span>
                        </div>
                        <div class="relative">
                            <button type="submit"
                                    class="w-full bg-black text-white font-medium text-base py-4 rounded-md hover:bg-gray-800">
                                Sign Up
                            </button>
                        </div>
                        <div class="relative">
                            <button onclick="window.location.href='./login'"
                                    class="w-full bg-white text-black font-medium text-base py-4 rounded-md hover:bg-gray-200">
                                Already have an account? Log in
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>